<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

{{>header}}

<body>
<h1>HOMEPAGE</h1>
<a href="http://localhost:8080/info">About Page</a>
<br>
<a href="http://localhost:8080/weather">Weather Page</a>
</body>

{{>footer}}

</html>